*
{
	padding: 0;
	margin: 0;
}

.nav-area{
	background: rgba(0,0,0,0.8);
	height: 50px;
	width: 100%;
}

.sitename{
	margin: 5px 137px;
	height: 60px;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	float: left;
}

.profile{
	background-color: rgb(238,238,238,238);
	height: 400px;
	width: 80%;
	margin-left: 140px;
	margin-top: 30px
}


.text1{
	float: right;
	font-size: 30px;
	font-family: cursive;
	margin-top: 50px;
	margin-right: 150px

.table{
	margin-top: 20px;
	width: 800px;
	height: 500px;
	background-color: rgb(238,238,238,238);
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 270px;
	position:absolute;
	border: 4px solid black;
}
.table img{
		border-radius: 5px;
		margin-top: 15px;
		width: 180px;
		height: 180px;
		
}

.top{
	margin-left: 270px;
	margin-top: 20px
}

.title{
	font-size: 30px;
	padding-top: 10px;
	color: white;
	font-family: fantasy;
	height: 50px;
	width: 350px;
	text-align: center;
	text-shadow: 1px 3px 1px gray;
	background-color: black;

}

