*
{
	padding: 0;
	margin: 0;
}

.nav-area{
	background: rgba(0,0,0,0.8);
	height: 50px;
	width: 100%;
}

.sitename{
	margin: 5px 137px;
	height: 60px;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	float: left;
}

.profile{
	background-color: rgb(238,238,238,238);
	height: 400px;
	width: 80%;
	margin-left: 140px;
	margin-top: 30px
}


.text1{
	float: right;
	font-size: 30px;
	font-family: cursive;
	margin-top: 50px;
	margin-right: 150px
}

